.container {
  display: flex;
  height:100vh;
}

.column1 {
  flex: 1; 
  background: red;
}

.column1-top {
  height: 20%;
}

.column1-bottom {
  height: 80%;
  overflow-y: scroll;
}

.column2 {
  flex: 1;
}
