.photo-rec-container {
  position: relative;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure the overlay is above the video */
}

.camera-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw; /* Limit the width to 100vw */
  height: auto; /* Maintain aspect ratio */
  z-index: 0; /* Ensure the video feed is below the overlay */
  overflow: hidden; /* Clip the video if it exceeds the container width */
}


.fullscreen {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; /* Ensure the fullscreen button is above the overlay */
  /* Add your fullscreen button styles here */
}

.comment-container {
  display:none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2; /* Ensure the comment container is above the overlay */
  /* Add your comment container styles here */
}

.comment-photo {
  display:none;
  width: 200px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  /* Add your textarea styles here */
}

.bottom-rec-row {
  position: absolute;
  bottom:-100vh;

  z-index: 9999; /* Ensure the capture button is above the overlay */
  /* Add your capture button styles here */
}


.miniature-photos-container {
  position: fixed;
  bottom: 140px;
  left: 0;
  z-index: 9999;
  display: flex; /* Use flexbox */
  justify-content: flex-start; /* Align items to the start of the row */
  gap: 10px; /* Add gap between photos */
}

.miniature-photo {
  height: 100px;
  width: auto; /* Let the width adjust automatically */
}







.miniature-photos-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Adjust the width as needed */
}

.miniature-photo {
  height: 100px;
  width: auto;
  margin-right: -5px; /* Add spacing between photos */
}

.hidden {
  display:none;
}

.selected-photo {

}

.video-rec-container {
  max-width: 100vw;
  overflow:hidden;

}

.video-container video {
  
  min-width: 100%; /* Ensure video covers entire container */
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
 
  
}