.takephoto {
  width:70px;
  height: 40px;
  z-index:99999;
  opacity:1;
  position:absolute;
  top:740px;
  left:270px;
  background-color: red;
}

.thumbnail {
  z-index: 9999;
  position: absolute;
  top: 430px;
  left: 10px;
  width: 80px;
  transform: scaleX(-1);
  /* Flip horizontally */
  border-radius: 20%;
  border: 2px solid white;
}

.thumbnail-reverse {
  z-index: 9999;
  position: absolute;
  top: 430px;
  left: 10px;
  width: 80px;
  /* Flip horizontally */
  border-radius: 20%;
  border: 2px solid white;
}



.video-roll {

    width:70px;
  height: 40px;
  z-index:99999;
  opacity:0.01;
  position:absolute;
  top:470px;
  left:210px;
  background-color: red;
}

.attached-pic-reverse {
  max-width:120vw;
  transform: scaleX(-1); /* Flip horizontally */

}
.attached-pic {
  max-width:120vw;


}

.mirror {
  transform: scaleX(-1); /* Flip horizontally */

}

.photo-overlay-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 999999; /* Ensure it's above other elements */
  transition: opacity 0.1s ease-out; /* Smooth transition effect */
  pointer-events: none; /* Allow clicks to pass through */
}